.success-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;
}

.success-container h1, p{
    padding: 0;
    margin: 0;
}

.success-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    text-align: center;
    padding: 0 2em;
}

.success-wrapper a{
    color: #020e72;
    text-decoration: none;
    font-size: 1.2rem;
}

.success-wrapper .check{
    width: 200px;
}

.recieved{
    font-size: 1.5rem;
    color: rgb(51, 48, 48);
}

.back{
    display: flex;
    align-items: center;
    gap: .5em;
    cursor: pointer;
}